configuration {
  icon-theme: "Papirus";
  display-drun: " ";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font 12";
  show-icons: true;
}

* {
  background:     #261C1B;
  background-color: #261C1B;
  foreground:     #F8ECE7;
  text-color:     #F8ECE7;
  lightbg:        #544746;
  border-color:   #A59994;
  spacing:        2;
}

window {
  background-color: #261C1B;
  border: 1px;
  border-color: #A59994;
  border-radius: 10;
  padding: 6px;
  width: 40%;
}

inputbar {
  background-color: #544746;
  border-radius: 8;
  padding: 6px 12px;
  spacing: 8px;
  children: [ prompt, entry ];
}

prompt {
  text-color: #94827E;
  font: "JetBrainsMono Nerd Font 14";
}

entry {
  text-color: #F8ECE7;
  font: "JetBrainsMono Nerd Font 14";
  placeholder: "Search...";
  placeholder-color: #A59994;
}

listview {
  background-color: #261C1B;
  border-radius: 8;
  spacing: 2px;
  padding: 4px 0;
}

element {
  background-color: transparent;
  text-color: #F8ECE7;
  border-radius: 6;
  padding: 8px 12px;
}

element selected {
  background-color: #544746;
  text-color: #94827E;
}

element-icon {
  size: 24px;
}

element-text {
  text-color: inherit;
  vertical-align: 0.5;
  horizontal-align: 0.0;
}

element alternate {
  background-color: transparent;
}

element urgent {
  text-color: #644244;
}

scrollbar {
  width: 4px;
  handle-width: 4px;
  handle-color: #544746;
}

message {
  background-color: #544746;
  border-radius: 8;
  padding: 6px;
}

textbox {
  text-color: #A59994;
}
